<a href="https://colab.research.google.com/github/preetis201525/telecom/blob/main/02_05_begin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Libraries

##Step 1. Import Libraries

In [ ]:
## import libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

##Step 2. Load Data

In [ ]:
# Run the cell to load the dataset

data = pd.read_csv('/content/telecom_dataset.csv')

# Step 3 - Data Exploration

##Initial Exploration

#### 3.1 lets see how data looks in the data frame

In [ ]:
# first five rows of the DataFrame

data.head(5)

,Customer_ID,Tenure,City,Zip Code,Latitude,Longitude,Offer,Phone Service,Multiple Lines,Internet Service,...,Monthly Charge,Total Charges,Total Revenue,Gender,Age,Married,Kidhome,Teenhome,Income,Churn
0,0002-ORFBO,9,Frazier Park,93225,34.827662,-118.999073,NaN,Yes,No,Yes,...,65.6,593.30,974.81,Female,37,Yes,0,0,30507.0,No
1,0003-MKNFE,9,Glendale,91206,34.162515,-118.203869,NaN,Yes,Yes,Yes,...,-4.0,542.40,610.28,Male,46,No,0,1,59892.0,No
2,0004-TLHLJ,4,Costa Mesa,92627,33.645672,-117.922613,Offer E,Yes,No,Yes,...,73.9,280.85,415.45,Male,50,No,0,1,70545.0,Yes
3,0011-IGKFF,13,Martinez,94553,38.014457,-122.115432,Offer D,Yes,No,Yes,...,98.0,1237.85,1599.51,Male,78,Yes,0,0,57100.0,No
4,0013-EXCHZ,3,Camarillo,93010,34.227846,-119.079903,NaN,Yes,No,Yes,...,83.9,267.40,289.54,Female,75,Yes,1,1,49096.0,Yes

### 3.2 Show the last five rows of the DataFrame

In [ ]:
# Show the last five rows of the DataFrame

data.tail(5)

,Customer_ID,Tenure,City,Zip Code,Latitude,Longitude,Offer,Phone Service,Multiple Lines,Internet Service,...,Monthly Charge,Total Charges,Total Revenue,Gender,Age,Married,Kidhome,Teenhome,Income,Churn
7038,9987-LUTYD,13,La Mesa,91941,32.759327,-116.997260,Offer D,Yes,No,Yes,...,55.15,742.90,1349.74,Female,20,No,1,1,26290.0,No
7039,9992-RRAMN,22,Riverbank,95367,37.734971,-120.954271,Offer D,Yes,Yes,Yes,...,85.10,1873.70,2230.10,Male,40,Yes,0,1,63381.0,No
7040,9992-UJOEL,2,Elk,95432,39.108252,-123.645121,Offer E,Yes,No,Yes,...,50.30,92.75,129.99,Male,22,No,1,0,35544.0,No
7041,9993-LHIEB,67,Solana Beach,92075,33.001813,-117.263628,Offer A,Yes,No,Yes,...,67.85,4627.65,4769.69,Male,21,Yes,0,0,63033.0,Yes
7042,9995-HOTOH,63,Sierra City,96125,39.600599,-120.636358,NaN,No,NaN,Yes,...,59.00,3707.60,3707.60,Male,36,Yes,0,0,10979.0,No

### 3.3 Show information about the Data

In [ ]:
# Show Dataframe information

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer_ID             7043 non-null   object
 1   Tenure                  7043 non-null   int64
 2   City                    7043 non-null   object
 3   Zip Code                7043 non-null   int64
 4   Latitude                7043 non-null   float64
 5   Longitude               7043 non-null   float64
 6   Offer                   3166 non-null   object
 7   Phone Service           7043 non-null   object
 8   Multiple Lines          6361 non-null   object
 9   Internet Service        7043 non-null   object
 10  Internet Type           5517 non-null   object
 11  Gigabits Used           5517 non-null   float64
 12  Online Security         5517 non-null   object
 13  Online Backup           5517 non-null   object
 14  Device Protection Plan  5517 non-null   object
 15  Premium Tech Support    5517 non-null   object
 16  Streaming TV            5517 non-null   object
 17  Streaming Movies        5517 non-null   object
 18  Unlimited Data          5517 non-null   object
 19  Contract                7043 non-null   object
 20  Payment Method          7042 non-null   object
 21  Monthly Charge          7043 non-null   float64
 22  Total Charges           7043 non-null   float64
 23  Total Revenue           7043 non-null   float64
 24  Gender                  7043 non-null   object
 25  Age                     7043 non-null   int64
 26  Married                 7043 non-null   object
 27  Kidhome                 7043 non-null   int64
 28  Teenhome                7043 non-null   int64
 29  Income                  6962 non-null   float64
 30  Churn                   7043 non-null   object
dtypes: float64(7), int64(5), object(19)
memory usage: 1.7+ MB

### 3.4 Show the DataFrame shape

The .shape() method gives you the number of rows and columns in the dataset. You can also see this information in the df.info() output.

In [ ]:
# Show DataFrame shape

data.shape

(7043, 31)

### 3.5 Show the data types

Show DataFrame data types. Although the df.info() provides this information, it is good to see the column datatypes on their own.

In [ ]:
# Run this cell to show DataFrame data types

data.dtypes

Customer_ID                object
Tenure                      int64
City                       object
Zip Code                    int64
Latitude                  float64
Longitude                 float64
Offer                      object
Phone Service              object
Multiple Lines             object
Internet Service           object
Internet Type              object
Gigabits Used             float64
Online Security            object
Online Backup              object
Device Protection Plan     object
Premium Tech Support       object
Streaming TV               object
Streaming Movies           object
Unlimited Data             object
Contract                   object
Payment Method             object
Monthly Charge            float64
Total Charges             float64
Total Revenue             float64
Gender                     object
Age                         int64
Married                    object
Kidhome                     int64
Teenhome                    int64
Income                    float64
Churn                      object
dtype: object

### 3.6 Show dataset statistics

The describe() method computes and displays summary statistics for the dataset.

In [ ]:
# Show DataFrame statistics

data.describe()

,Tenure,Zip Code,Latitude,Longitude,Gigabits Used,Monthly Charge,Total Charges,Total Revenue,Age,Kidhome,Teenhome,Income
count,7043.000000,7043.000000,7043.000000,7043.000000,5517.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,6962.000000
mean,32.386767,93486.070567,36.197455,-119.756684,26.189958,63.596131,2280.381264,3034.379056,46.509726,0.446969,0.503905,52107.377190
std,24.542061,1856.767505,2.468929,2.154425,19.586585,31.204743,2266.220462,2865.204542,16.750352,0.542819,0.544608,23930.386972
min,1.000000,90001.000000,32.555828,-124.301372,2.000000,-10.000000,18.800000,21.360000,19.000000,0.000000,0.000000,1730.000000
25%,9.000000,92101.000000,33.990646,-121.788090,13.000000,30.400000,400.150000,605.610000,32.000000,0.000000,0.000000,35395.000000
50%,29.000000,93518.000000,36.205465,-119.595293,21.000000,70.050000,1394.550000,2108.640000,46.000000,0.000000,0.000000,51369.000000
75%,55.000000,95329.000000,38.161321,-117.969795,30.000000,89.750000,3786.600000,4801.145000,60.000000,1.000000,1.000000,69016.000000
max,72.000000,96150.000000,41.962127,-114.192901,85.000000,118.750000,8684.800000,11979.340000,80.000000,2.000000,2.000000,666666.000000

### 3.7 Check for duplicate values

Checking for duplicates helps identify rows that are exact copies of others. These duplicates can arise from data entry errors, merging datasets, or repeated measurements.

In [ ]:
# Check for duplicate values

data.duplicated().sum()

np.int64(0)

### 3.8 Check for Null Values

You probably saw null values in the a column when your reviewed the df.info() output. Here is the .isnull() method, which shows you any null values in the dataset as well.

In [ ]:
# Check for Null values

data.isnull().sum()

Customer_ID                  0
Tenure                       0
City                         0
Zip Code                     0
Latitude                     0
Longitude                    0
Offer                     3877
Phone Service                0
Multiple Lines             682
Internet Service             0
Internet Type             1526
Gigabits Used             1526
Online Security           1526
Online Backup             1526
Device Protection Plan    1526
Premium Tech Support      1526
Streaming TV              1526
Streaming Movies          1526
Unlimited Data            1526
Contract                     0
Payment Method               1
Monthly Charge               0
Total Charges                0
Total Revenue                0
Gender                       0
Age                          0
Married                      0
Kidhome                      0
Teenhome                     0
Income                      81
Churn                        0
dtype: int64

### 3.9 Check for Unique Values

Show unique values in a few columns with the highest missing values - just for checking.


---

In [ ]:
# Run this cell to get unique values for a specific column
print("Unique values in 'Offer':", data['Offer'].unique())

Unique values in 'Offer': [nan 'Offer E' 'Offer D' 'Offer A' 'Offer B' 'Offer C']

In [ ]:
# Run this cell to get the count of unique values for each column
unique_counts = data.nunique()

print("Count of Unique Values for Each Column:\n", unique_counts)

Count of Unique Values for Each Column:
 Customer_ID               7043
Tenure                      72
City                      1106
Zip Code                  1626
Latitude                  1626
Longitude                 1625
Offer                        5
Phone Service                2
Multiple Lines               2
Internet Service             2
Internet Type                3
Gigabits Used               49
Online Security              2
Online Backup                2
Device Protection Plan       2
Premium Tech Support         2
Streaming TV                 2
Streaming Movies             2
Unlimited Data               2
Contract                     3
Payment Method               3
Monthly Charge            1591
Total Charges             6540
Total Revenue             6975
Gender                       2
Age                         62
Married                      2
Kidhome                      3
Teenhome                     3
Income                    1974
Churn                        2
dtype: int64